.green-gray-background {
  background-color: $green-gray;
}

.green-gray {
  color: $green-gray;
}

.blue-gray-background {
  background-color: $blue-gray;
}

.blue-gray {
  color: $blue-gray;
}

.dark-gray-background {
  background-color: $dark-gray;
}

.dark-gray {
  color: $dark-gray;
}

.cream {
  color: $cream;
}

.header {
  text-align: left;
}

.pt-5 {
  padding-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-20 {
  margin-left: 20px;
}

.align-left {
  text-align: left;
}

.pointer {
  cursor: pointer;
}
