.green-gray-background {
  background-color: $green-gray;
}

.green-gray {
  color: $green-gray;
}

.blue-gray-background {
  background-color: $blue-gray;
}

.blue-gray {
  color: $blue-gray;
}

.dark-gray-background {
  background-color: $dark-gray;
}

.dark-gray {
  color: $dark-gray;
}

.cream {
  color: $cream;
}

.header {
  text-align: left;
}

.pt-5 {
  padding-top: 5px;
}

.pt-20 {
  padding-top: 20px;
}

.p-5 {
  padding: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.m-20 {
  margin: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.h-100 {
  height: 100px;
}

.align-left {
  text-align: left;
}

.pointer {
  cursor: pointer;
}

.font-md {
  font-size: 18px;
}
