.grid-container {
  display: grid;
  // grid-template-columns: 25% 70%;
  // fr = fraction, this is perfered over %
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 5px;
  grid-auto-rows: minmax(200px, auto);
}

.grid-container-portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin: 20px;
}

.grid-container-blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin: 20px;
}

.grid-container-card {
  display: grid;
  grid-template-columns: 100px 3fr;
  column-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  margin: 20px;
}

.grid-container-card-blog {
  display: grid;
  column-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  margin: 20px;
}

.grid-item {
  // align-self: center;
}
