.flex-container-portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1920px;
}

@media only screen and (min-width: 1920px) {
  .portfolio-container {
    margin: 0 auto;
  }
}

.flex-header {
  flex-basis: 1840px;
  text-align: left;
  // color: red;
}

.flex-container-card {
  flex-basis: 600px;
  margin: 10px;
  min-height: 75px;
}

.flex-container-card-empty {
  flex-basis: 1220px;
  margin: 10px;
  visibility: hidden;
}

.grid-project-card {
  display: grid;
  grid-template-columns: 100px 3fr;
  column-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  margin: 10px;
}

@media only screen and (max-width: 1876px) {
  .flex-header {
    flex-basis: 1230px;
    text-align: left;
    padding-left: 10px;
    // color: green;
  }

  .flex-container-card-empty {
    flex-basis: 600px;
    margin: 10px;
    visibility: hidden;
  }
}

@media only screen and (max-width: 1256px) {
  .flex-header {
    flex-basis: 610px;
    text-align: left;
    padding-left: 10px;
    // color: indigo;
  }
}

@media only screen and (max-width: 640px) {
  .flex-container-card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 10px;
    min-height: 75px;
  }

  .flex-header {
    flex-basis: 600px;
    text-align: left;
    padding-left: 10px;
    // color: violet;
  }

  .flex-container-card-empty {
    width: 0px;
    visibility: hidden;
  }
}

.grid-container-header {
  display: grid;
  // grid-template-columns: 25% 70%;
  // fr = fraction, this is perfered over %
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

// .grid-container-portfolio {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   // column-gap: 20px;
//   // grid-auto-rows: minmax(100px, auto);
//   // margin: 20px;
// }

// .portfolio-links {
//   bottom: 0;
// }

// .grid-container-blog {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   column-gap: 20px;
//   grid-auto-rows: minmax(100px, auto);
//   margin: 20px;
// }

// .grid-container-card {
//   display: grid;
//   grid-template-columns: 100px 3fr;
//   width: 600px;
//   column-gap: 5px;
//   grid-auto-rows: minmax(100px, auto);
//   margin: 10px;
// }

// .grid-container-blog {
//   display: grid;
//   grid-template-columns: 3fr;
//   width: 600px;
//   column-gap: 5px;
//   grid-auto-rows: minmax(100px, auto);
//   margin: 10px;
// }

// .grid-container-card:nth-child(odd) {
//   margin-left: auto;
//   justify-self: right;
// }

// .grid-container-blog:nth-child(odd) {
//   margin-left: auto;
//   justify-self: right;
// }

// .grid-container-card-blog {
//   display: grid;
//   column-gap: 5px;
//   grid-auto-rows: minmax(100px, auto);
//   margin: 20px;
// }

// .grid-item {
//   // align-self: center;
// }
