@import "colors";
@import "components";
@import "layout";
@import "atomic";

.body-content {
  max-width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  width: 100%;
}
